*.iml
.gradle
/local.properties
/.idea
.DS_Store
/app/release
/build
/captures
.externalNativeBuild
.cxx
local.properties
.secrets
.env
.github/workflows/build_local.yml
KernelFlasher.apk
/app/build/*
# Release signing
key.properties
keystore/
